@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
nav {
  height: 85px;
  width: 100%;
  background-color: #3b5d50 !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.nav_links {
  display: flex;
  list-style: none;
  gap: 30px !important;
}
.nav_links a {
  color: white;
  text-decoration: none;
}
.hamburger {
  display: none;
  font-size: 30px;
}
/* hero */
.hero {
  background: #3b5d50;
  color: white;
  padding-bottom: 20px;
}
.hero h1 {
  font-size: 60px;
}

.shop_now {
  padding: 12px 30px;
  margin-right: 8px;
  border-radius: 30px;
  text-decoration: none;
  color: #2f2f2f;
  background-color: #f9bf29;
  border: 1px solid #f9bf29;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shop_now:hover {
  background-color: #e6a723;
  color: #1f1f1f;
}

.explore {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.explore:hover {
  border-color: #ffffff;
  color: #ffffff;
}
/* Product Section */
.product-section {
  background: #e0e0e0;
  align-items: center;
  padding: 7rem 0;
}
.product-thumbnail {
  margin-bottom: 30px;
}
.product-section h3 {
  font-weight: 600;
  font-size: 16px;
}

.btn-explore {
  background-color: #2f2f2f;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}
.btn-explore:hover {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

/* Why Choose Us */
.why-choose-us {
  background: #e0e0e0;
  align-items: center;
  padding: 7rem 0;
  display: flex;
  align-items: center !important;
}

.why-choose-us img {
  border-radius: 20px;
}

.why-choose-us p {
  color: #6a6a6a;
}
/* new section */
.we-help-section {
  padding: 7rem 0;
  background-color: #e0e0e0;
}
.images img {
  border-radius: 20px;
  max-width: 100%;
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Create 6 equal columns */
  gap: 10px; /* Add spacing between items */
  position: relative;
}

.grid-1 {
  grid-column: 1 / span 4; /* Start at column 1 and span 4 columns */
  grid-row: 1 / span 3; /* Start at row 1 and span 3 rows */
}

.grid-2 {
  grid-column: 5 / span 2; /* Start at column 5 and span 2 columns */
  grid-row: 1 / span 1; /* Start at row 1 and span 1 row */
  padding-left: 20px;
}

.grid-3 {
  grid-column: 3 / span 3; /* Start at column 3 and span 4 columns */
  grid-row: 2 / span 2; /* Start at row 2 and span 2 rows */
  padding-left: 20px;
}
.section-title {
  color: #2f2f2f;
}
.we-help-section h2 {
  font-size: calc(1.325rem + 0.9vw);
}
.list {
  width: 100%;
}
.list li {
  display: inline-block;
  width: calc(50% - 20px);
  margin-bottom: 12px;
  line-height: 1.5;
  position: relative;
  padding-left: 20px;
}
.list li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #3b5d50;
  position: absolute;
  left: 0;
  top: 8px;
}

/* Media Screen */
@media (max-width: 768px) {
  .nav_links li {
    display: none;
  }
  .hamburger {
    display: inline-block;
  }
}
