@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body,
html {
  overflow-x: hidden;
  position: relative;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1 !important;
}

/* Navbar */
nav {
  height: 85px;
  width: 100%;
  background-color: #3b5d50 !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.nav_links {
  display: flex;
  list-style: none;
  gap: 30px !important;
  transition: all 0.5s ease;
  overflow: hidden;
}
.nav_links a {
  color: white;
  text-decoration: none;
}
.hamburger {
  display: none;
  font-size: 30px;
}
nav .logo span {
  color: #f9bf29;
}

.nav_links li {
  position: relative;
  margin: 0 10px;
}

.nav_links li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  background: #f9bf29;
  height: 5px;
  width: 0;
  opacity: 1;
  visibility: visible;
  transition: width 0.15s ease-out;
}

.nav_links li a:hover {
  color: #f9bf29;
}

.nav_links li a:hover:before {
  width: calc(100% - 16px);
}

.nav_links li a.active {
  color: #f9bf29;
}

.nav_links li a.active:before {
  width: calc(100% - 16px);
}

.cart-icon {
  cursor: pointer;
}
nav li i {
  cursor: pointer;
}
.cart-icon img {
  pointer-events: none;
}
.icon-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
/* Hero Section*/
.hero {
  background: #3b5d50;
  color: white;
  padding: calc(3rem - 30px) 0 0rem 0;
}
.hero h1 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 60px;
}
.hero p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}

.shop_now {
  padding: 12px 30px;
  margin-right: 8px;
  border-radius: 30px;
  text-decoration: none;
  color: #2f2f2f;
  background-color: #f9bf29;
  border: 1px solid #f9bf29;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shop_now:hover {
  background-color: #e6a723;
  color: #1f1f1f;
}

.explore {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.explore:hover {
  border-color: #ffffff;
  color: #ffffff;
}

/* Product Section */
.product-section {
  background-color: #eff2f1;
  align-items: center;
  padding: 7rem 0;
}

.product-section h3 {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none !important;
}
.product-container {
  text-decoration: none !important;
  outline: none;
  border: none;
}
.product-title,
.product-price {
  text-decoration: none !important;
}
.btn-style {
  background-color: #2f2f2f;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.btn-style:hover {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

.product-container {
  position: relative;
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  overflow: visible;
  transition: background-color 0.3s ease;
}

.product-container:hover {
  background: #dce5e4;
}

.icon-cross {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: #2f2f2f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  color: white;
}

.product-container:hover .icon-cross {
  cursor: pointer;
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}

.icon-cross img {
  width: 16px;
  height: 16px;
  filter: invert(1);
}

.product-price {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none !important;
}

.product-section strong {
  font-weight: 800 !important;
  font-size: 18px !important;
  color: #2f2f2f;
  text-decoration: none !important;
}

/* Why Choose Us Section*/
.why-choose-us {
  background-color: #eff2f1;
  align-items: center;
  padding: 7rem 0;
  display: flex;
  align-items: center !important;
}

.why-choose-us img {
  border-radius: 20px;
}

.why-choose-us p {
  color: #6a6a6a;
}

/* We Help Section */
.we-help-section {
  padding: 7rem 0;
  background-color: #eff2f1;
}
.images img {
  border-radius: 20px;
  max-width: 100%;
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  position: relative;
}

.grid-1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 3;
}

.grid-2 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 1;
  padding-left: 20px;
}

.grid-3 {
  grid-column: 3 / span 3;
  grid-row: 2 / span 2;
  padding-left: 20px;
}
.section-title {
  color: #2f2f2f;
}
.we-help-section h2 {
  font-size: calc(1.325rem + 0.9vw);
}
.list {
  width: 100%;
}
.list li {
  display: inline-block;
  width: calc(50% - 20px);
  margin-bottom: 12px;
  line-height: 1.5;
  position: relative;
  padding-left: 20px;
}
.list li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #3b5d50;
  position: absolute;
  left: 0;
  top: 8px;
}

/* Popular Products Section */
.popular-product {
  padding: 0 0 7rem 0;
  background-color: #eff2f1;
}
.popular-product .item h3 {
  font-size: 14px;
  font-weight: 700;
  color: #2f2f2f;
}
.popular-product .item a {
  text-decoration: none;
  color: #2f2f2f;
  transition: 0.3s all ease;
}
.popular-product .item a:hover {
  color: rgba(47, 47, 47, 0.5);
}
.popular-product .item p {
  line-height: 1.4;
  margin-bottom: 10px;
  font-size: 14px;
}
.popular-product .item .thumbnail {
  margin-right: 10px;

  position: relative;
}

/* Testimonal Section*/
.testimonial-section {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 3rem 0 7rem 0;
}

.testimonial {
  padding: 20px;
  border-radius: 10px;
}

.testimonial-img {
  max-width: 80px !important;
  border-radius: 50%;
}

.testimonial p {
  font-size: 1.2em;
  color: #333;
}

#controls {
  position: relative;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
  color: #333;
}

.prev {
  left: -30px;
  top: -150px;
}

.next {
  right: -30px;
  top: -150px;
}
.prev,
.next {
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 12px 20px;
  font-size: 16px;
  transition: all 0.3s ease;
  background: rgba(59, 93, 80, 0.1);
  color: #2f2f2f;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  border: 1px solid black;
  background: #3b5d50;
  color: #ffffff;
}

/* Blog Section */
.blog-section {
  padding: 7rem 0 12rem 0;
}
.more {
  color: #1f1f1f;
  text-decoration: underline;
}
.blog-section a {
  text-decoration: none;
}
.blog-section img {
  display: block;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.blog-author {
  font-size: 14px;
  padding-right: 15px;
  font-weight: 600;
}
.blog-author a {
  color: #2f2f2f;
}
.blog-section h3 a {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  color: #2f2f2f;
  margin-bottom: 7px;
}
.blog-section img:hover {
  transition: 0.3s all ease;
  opacity: 0.7;
  cursor: pointer;
}

/* Footer Section */
.footer-section {
  padding: 80px 0;
  background: #ffffff;
  position: relative;
}
.footer-section .sofa-img {
  position: absolute;
  top: -200px;
  z-index: 1;
  right: 0;
}
.footer-section .sofa-img img {
  max-width: 380px;
}
.footer-section .form {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}
.footer-section a {
  text-decoration: none;
  color: #2f2f2f;
}
.footer-section .form h3 {
  font-size: 18px;
  font-weight: 500;
  color: #3b5d50;
}
.footer-section .form .form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}
.footer-section .form .form-control:active,
.footer-section .form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #3b5d50;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.btnn {
  background: #3b5d50 !important;
  border-color: #3b5d50 !important;
  padding: 12px 30px !important;
  border-radius: 10px !important;
}

.footer-section .footer-logo-wrap .footer-logo {
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  color: #3b5d50;
}
.footer-section .links-wrap {
  margin-top: 54px;
}
.footer-section .links-wrap ul li {
  margin-bottom: 10px;
}
.footer-section .custom-social li {
  margin: 2px;
  display: inline-block;
}
.footer-section .custom-social li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #dce5e4;
  color: #3b5d50;
  border-radius: 50%;
}
.footer-section .custom-social li a:hover {
  background: #3b5d50;
  color: #ffffff;
}

/* Team Section */
.team {
  margin-bottom: 220px;
}

/* <Services Section */
.services {
  padding: 7rem 0;
}

/* Contact Section */
.contact-info {
  padding: 7rem 0;
  line-height: 1.5;
}
.contact {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
}

.contact i {
  background-color: #335d4a;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}

.contact p {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #495057;
  line-height: 1.5;
}
.form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
}

textarea.form-control {
  height: auto;
  min-height: 50px;
  max-height: 150px;
}

.form-control:active,
form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #3b5d50;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Cart section */
.cart-table {
  padding: 7rem 0;
  overflow-x: scroll;
  margin-bottom: 100px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  border: 1px solid #ddd;
  overflow-x: scroll;
}

thead th {
  background-color: #f4f4f4;
  color: #333;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

tbody img {
  max-width: 80px;
  height: auto;
}

input.quantity-amount {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

tbody tr:hover {
  background-color: #f9f9f9;
}
#coupon:active,
#coupon:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #3b5d50;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.trash-icon {
  font-size: 20px;
}

/* Media Screen */
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }

  .nav_links {
    max-height: 0px;
    transition: max-height 0.5s ease;
  }

  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: start;
    background-color: #335d4a;
    gap: 0;
    overflow: hidden;
  }
  .icon-con {
    display: flex;
    margin-bottom: 20px;
  }

  .nav_links a:hover {
    color: #f9bf29;
    background-color: transparent;
  }
  .blog-section-header {
    flex-direction: column;
  }

  table {
    font-size: 14px;
  }

  tbody img {
    max-width: 50px;
  }

  .prev,
  .next {
    font-size: 1.5em;
  }

  .prev {
    left: -15px;
  }

  .next {
    right: -15px;
  }

  .footer-section .sofa-img img {
    margin-top: 100px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero p {
    font-size: 16px;
  }
}

@media (max-width: 680px) {
  .prev,
  .next {
    display: none;
  }

  .footer-section .sofa-img img {
    max-width: 320px;
  }
}

@media (max-width: 360px) {
  .footer-section .sofa-img img {
    max-width: 320px;
  }
}

@media (hover: none), (max-width: 768px) {
  .nav_links li a:hover {
    color: inherit;
  }

  .nav_links li a:hover:before {
    width: 0;
  }
}
